/***
Timeline UI Base
***/

.circle {
    width: 80px;
    height: 80px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;
    background-color: #4e8ad5; 
    border: none;
    text-align: center;
    line-height: 80px;
}

#timeline th{
	border: 1px;
	border-style: solid;
}

#timeline td{
	border: 1px;
	border-style: solid;	
}

}